/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.resultsspace { margin-bottom: 50px; }
.topspace { margin-top: 50px; }
.vanity { font-style:italic; font-size:12px; color:DimGray;}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.ontop {
	position: absolute; 
   top: 20px; 
   left: 0; 
   width: 100%; 
}